.products {
  position: relative;
  display: grid !important;
  // grid-template-columns: repeat(4, 1fr) !important;
  grid-template-columns: repeat(4, 25%) !important;
  gap: 10px;
  padding: 30px;

  // &:not(:nth-child(-n+20)) {
  //   display: none;
  // }

  @include computer-sm {
    grid-template-columns: repeat(3, 33%) !important;
  }

  @include mobile {
    grid-template-columns: repeat(2, 50%) !important;
  }

  @include mobile-sm {
    grid-template-columns: 100% !important;
  }
}

.card {
  border: 3px solid $bglborder;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  transition: all 0.2s ease-in;

  // &:not(:nth-child(-n+20)) {
  //   display: none;
  // }

  // &:nth-child(n + 2):nth-child(-n + 5) {
  //   display: none;
  // }

  @include mobile-md {
    grid-template-columns: 1fr;
  }

  &__top {
    align-items: center;
    display: flex;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  &__on,
  &__off {
    clip-path: polygon(100% 0, 0% 100%, 0 0);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 15%;
    z-index: 100;
  }

  &__on {
    background-color: $bg-green;
  }

  &__off {
    background-color: $bg-red;
  }


  &__count {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    width: 100%;
  }

  &__link {

    &:after {
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
    }
  }

  &__body {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__swiper {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative !important;

  }

  &__slide {
    max-width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  &__scrollbar {
    background-color: $bglborder !important;
  }

  &__img {
    border-radius: 50%;
    height: auto;
    max-width: 80%;
  }

  &__imgsign {
    border-radius: 10px;
    height: auto;
    left: 72%;
    position: absolute;
    top: 3%;
    max-width: 20%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0 10px 10px;
  }

  &__title,
  &__desc {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }

  &__desc {
    font-size: 20px;
    text-align: left;
  }

  &__info-bottom {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
  }
}

.card.select:not(:nth-child(-n+20)) {
  display: none;
}

.card.select1:not(:nth-child(-n + 40)) {
  display: none;
}

.card.select2:not(:nth-child(-n + 60)) {
  display: none;
}

.card.select3:not(:nth-child(-n + 80)) {
  display: none;
}

.card.select4:not(:nth-child(-n + 100)) {
  display: none;
}

.card.select5:not(:nth-child(-n + 120)) {
  display: none;
}

.card.select6:not(:nth-child(-n + 140)) {
  display: none;
}