// стилизация 
.product-info {
  display: flex;
  width: 100%;
  padding-top: 5rem;

  // стилизация контейнера
  &__container {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    position: relative;
    height: auto;
    // margin-bottom: 2rem;
  }


  // стилизация заголовка
  &__title {
    font-size: 2.5rem;
    text-align: center;
    color: $cl-text;
    margin-right: 5rem;
  }

}

// стилизация первого слайдера
.product-slider {
  // position: relative;
  // &:after{
  // posa
  // }

  // стилизация внутренней обертки
  &__wrapper {
    display: flex;
    width: 100%;
    height: auto;
    // justify-content: center;
    // max-height: 45rem;
    // width: 60rem;
    // height: 60rem;
  }

  // стилизация слайда
  &__slide {
    display: flex;
    // width: 100%;
    justify-content: center;
    // width: 32rem !important;
    // flex: 0 0 65%;
    // height: 32rem;
    // border: .1rem solid $black;
    // height: auto;

    &:hover {
      cursor: pointer;
    }
  }

  &__image {
    max-width: 35rem;
    max-height: 35rem;
    // border: 1px solid $black;
  }

  &__two-image {
    display: flex;
    max-width: 70rem;
    max-height: 35rem;
    // background: $bg-menu;
  }

  // стилизация изображения слайда
  &__img {
    display: block;
    // object-fit: contain;
    // object-position: center;
    width: 100%;
    height: auto;
    // border: 1px solid $black;
  }
}

// стилизация второго слайдера
.product-thumbs {
  margin-top: 2rem;
  width: 100%;
  // padding-top: 3rem;
  // padding-left: 7rem;
  // margin-bottom: 3rem;
  // border: 1px solid $black;

  // стилизация внутренней обертки
  &__wrapper {
    // display: flex;
    // justify-content: flex-start;
    width: 100%;
    padding-left: 10rem;
    // height: none;
  }

  // стилизация слайда
  &__slide {
    width: 11rem !important;
    // padding: 1rem;
    height: auto;
    cursor: pointer;
  }

  // стилизация контейнера изображения слайда
  &__image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .5rem;
    border-radius: .3rem;
  }

  &__two-image {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .5rem;
    border-radius: .3rem;
  }

  // стилизация radio кнопки
  &__input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;

    &:checked+.product-thumbs__image {
      border: .1rem solid $bg-thumbs;
    }

    &:checked+.product-thumbs__two-image {
      border: .1rem solid $bg-thumbs;
    }
  }

  // стилизация изображения слайда
  &__img {
    // display: block;
    // object-fit: contain;
    // width: 100%;
    // height: 100%;
  }
}

// стилизация качества монет
.label-condition {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  border-radius: .5rem;
  width: 7rem;
  height: 4rem;
  color: $bg-menu;
  background: rgba($cl-text, .8);
  top: 10rem;
  left: 5%;
  z-index: 1000;
  cursor: default;
}

// .label-condition>span {
//   width: 100%;
//   display: block;
// }